In [2]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [4]:
raw_path = R"C:\Users\aleja\Documents\github_repositories\cancer-clinical-test\data\raw\Yuan_expr_clinpat.csv"
X_train_path = R"C:\Users\aleja\Documents\github_repositories\cancer-clinical-test\data\processed\X_train.csv"

df = pd.read_csv(raw_path, sep = ";")
X_train = pd.read_csv(X_train_path, sep=",")

In [6]:
X_train.isnull().any()

age                                                        False
erihc                                                      False
prihc                                                      False
her2                                                       False
tstage                                                      True
                                                           ...
FAM86B1 /// FAM86B2 /// FAM86C1 /// FAM86DP /// FAM86FP    False
SNHG17                                                     False
HNRNPUL2 /// HNRNPUL2-BSCL2                                False
LOC100505915                                               False
NPEPL1                                                     False
Length: 13524, dtype: bool

In [7]:
X_train.isna().sum()

age             0
tstage          1
nodalstatus     1
grade          23
erihc_N         0
erihc_P         0
prihc_N         0
prihc_P         0
her2_N          0
her2_P          0
dtype: int64

In [51]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 0 to 141
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          117 non-null    int64
 1   tstage       117 non-null    float64
 2   nodalstatus  117 non-null    float64
 3   grade        117 non-null    float64
 4   erihc_N      117 non-null    float64
 5   erihc_P      117 non-null    float64
 6   prihc_N      117 non-null    float64
 7   prihc_P      117 non-null    float64
 8   her2_N       117 non-null    float64
 9   her2_P       117 non-null    float64
dtypes: float64(9), int64(1)
memory usage: 10.1 KB

In [50]:
df[1:10].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 1 to 9
Columns: 13524 entries, age to NPEPL1
dtypes: float64(3), int64(2), object(13519)
memory usage: 951.0+ KB

In [36]:
X_train = X_train.dropna(axis=0)

In [ ]:
def process_null (X: pd.DataFrame):
    return X.dropna(axis=0)

In [12]:
# X_train.duplicated().count()
len(X_train)-len(X_train.drop_duplicates())

4

In [ ]:
# Detect columns with less than n categories. Use it how criteria for one encoding
for col in ["PoolQC","MiscFeature","Alley","Fence","FireplaceQu","GarageCond","GarageQual","GarageFinish","GarageType","BsmtFinType2","BsmtExposure","BsmtFinType1","BsmtQual","BsmtCond","MasVnrType","Electrical"]:
     if len(house_train_cat[col].value_counts())< 10:
            print (col)

In [29]:
# Number of categories in a feature
X_train.select_dtypes(include='number')
# X_train.columns.values.tolist()

,age,tstage,nodalstatus,grade,erihc_N,erihc_P,prihc_N,prihc_P,her2_N,her2_P
0,54,4.0,1.0,2.0,0.0,1.0,1.0,0.0,1.0,0.1
1,53,2.0,1.0,2.0,0.0,1.0,0.0,1.0,1.0,0.0
2,62,3.0,0.0,2.0,0.0,1.0,0.0,1.0,1.0,0.0
3,26,2.0,0.0,2.0,0.0,1.0,0.0,1.0,1.0,0.0
4,32,2.0,2.0,3.0,0.0,1.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
137,71,1.0,1.0,2.0,1.0,0.0,1.0,0.0,0.0,1.0
138,58,4.0,2.0,3.0,1.0,0.0,1.0,0.0,1.0,0.0
139,53,2.0,1.0,3.0,0.0,1.0,1.0,0.0,1.0,0.0
140,44,2.0,2.0,NaN,0.0,1.0,0.0,1.0,1.0,0.0
141,56,3.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0

In [39]:
pd.DataFrame.from_records([(col, X_train[col].nunique()) for col in X_train.columns],
                          columns=['Column_Name', 'Num_Unique']).sort_values(by=['Num_Unique'])

   Column_Name  Num_Unique
4      erihc_N           2
5      erihc_P           2
6      prihc_N           2
7      prihc_P           2
8       her2_N           2
3        grade           3
9       her2_P           3
2  nodalstatus           4
1       tstage           5
0          age          38

In [47]:

X_train[(X_train["age"] < 120) & (X_train["age"] > 0)]

,age,tstage,nodalstatus,grade,erihc_N,erihc_P,prihc_N,prihc_P,her2_N,her2_P
0,54,4.0,1.0,2.0,0.0,1.0,1.0,0.0,1.0,0.1
1,53,2.0,1.0,2.0,0.0,1.0,0.0,1.0,1.0,0.0
2,62,3.0,0.0,2.0,0.0,1.0,0.0,1.0,1.0,0.0
3,26,2.0,0.0,2.0,0.0,1.0,0.0,1.0,1.0,0.0
4,32,2.0,2.0,3.0,0.0,1.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
136,46,2.0,0.0,3.0,1.0,0.0,1.0,0.0,1.0,0.0
137,71,1.0,1.0,2.0,1.0,0.0,1.0,0.0,0.0,1.0
138,58,4.0,2.0,3.0,1.0,0.0,1.0,0.0,1.0,0.0
139,53,2.0,1.0,3.0,0.0,1.0,1.0,0.0,1.0,0.0
141,56,3.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0

In [46]:
X_train['her2_P']

0      0.1
1      0.0
2      0.0
3      0.0
4      0.0
      ...
136    0.0
137    1.0
138    0.0
139    0.0
141    0.0
Name: her2_P, Length: 117, dtype: float64

In [14]:
X_train[X_train.duplicated()]

,age,tstage,nodalstatus,grade,erihc_N,erihc_P,prihc_N,prihc_P,her2_N,her2_P
82,45,2.0,0.0,3.0,1.0,0.0,1.0,0.0,0.0,1.0
103,61,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0
110,49,2.0,0.0,3.0,1.0,0.0,1.0,0.0,0.0,1.0
138,58,4.0,2.0,3.0,1.0,0.0,1.0,0.0,1.0,0.0

In [ ]:
X_train.columns.values.tolist()

In [ ]:
X_train[['prihc[T.P]']]

In [ ]:
df_clinical = df[['age',
 'erihc',
 'prihc',
 'her2',
 'tstage',
 'nodalstatus',
 'grade',
 'pcr']]

In [37]:
df_clinical[['her2'
 ]].value_counts()

NameError: name 'df_clinical' is not defined

In [ ]:
for col in df_clinical:
  print(df_clinical[col].unique())

In [ ]:
for col in X_train:
  print(X_train[col].unique())
  print(X_train[col].name)

In [ ]:

categorical_features = ['erihc',
 'prihc',
 'her2']
encoder = OneHotEncoder(sparse_output=False).set_output(transform="pandas")
categorical_encoded = encoder.fit_transform(df_clinical[categorical_features])
X = pd.concat([df_clinical.iloc[:,~df_clinical.columns.isin([categorical_features])], categorical_encoded], axis=1)
X

In [43]:
df_clinical.iloc[:,~df_clinical.columns.isin(categorical_features)]

     age  tstage  nodalstatus  grade  pcr
0     48     2.0          2.0    3.0    1
1     55     3.0          0.0    2.0    0
2     45     2.0          0.0    3.0    0
3     39     2.0          2.0    2.0    0
4     49     1.0          0.0    1.0    0
..   ...     ...          ...    ...  ...
173   53     2.0          1.0    2.0    0
174   53     2.0          0.0    1.0    0
175   56     3.0          0.0    1.0    0
176   50     2.0          0.0    2.0    0
177   49     4.0          0.0    2.0    0

[178 rows x 5 columns]